{
    attributes = (
        {
            columnName = "ACT_AFFICHABLE"; 
            externalType = CHAR; 
            name = actAffichable; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ACT_CREER_MAIL"; 
            externalType = VARCHAR2; 
            name = actCreerMail; 
            valueClassName = NSString; 
            valueType = S; 
            width = 40; 
        }, 
        {
            columnName = "ACT_LIBELLE"; 
            externalType = VARCHAR2; 
            name = actLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ACT_MAIL_SERVICE"; 
            externalType = VARCHAR2; 
            internalInfo = {"_nameInObjectStore" = "ACT_IGNORE_MAIL_GROUPE"; }; 
            name = actMailService; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "ACT_ORDRE"; 
            externalType = NUMBER; 
            name = actOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ACT_PERE"; 
            externalType = NUMBER; 
            name = actPere; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ACT_PREF"; 
            externalType = NUMBER; 
            internalInfo = {"_nameInObjectStore" = "ACT_RESPONSABLES"; }; 
            name = actPref; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ACT_RESP"; 
            externalType = NUMBER; 
            internalInfo = {"_nameInObjectStore" = "ACT_RESPONSABLES"; }; 
            name = actResp; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ACT_SWAP_MESSAGE"; 
            externalType = VARCHAR2; 
            name = actSwapMessage; 
            valueClassName = NSString; 
            valueType = S; 
            width = 500; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ACT_SWAP_VIEW"; 
            externalType = NUMBER; 
            name = actSwapView; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "C_STRUCTURE"; 
            externalType = VARCHAR2; 
            name = cStructure; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CART_ORDRE"; 
            externalType = NUMBER; 
            name = cartOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (
        actAffichable, 
        actCreerMail, 
        actLibelle, 
        actMailService, 
        actOrdre, 
        actPere, 
        actPref, 
        actResp, 
        actSwapMessage, 
        actSwapView, 
        cStructure, 
        cartOrdre
    ); 
    className = "org.cocktail.dt.server.metier.EOActivites"; 
    classProperties = (
        actAffichable, 
        actCreerMail, 
        actLibelle, 
        actMailService, 
        actOrdre, 
        actPere, 
        actPref, 
        actResp, 
        actSwapMessage, 
        actSwapView, 
        cStructure, 
        cartOrdre, 
        toActPere, 
        toActPref, 
        toActResp, 
        toGroupesDt, 
        toVActivites, 
        tosActFils, 
        tosActResponsables, 
        tosIntervention, 
        toVActPref
    ); 
    externalName = ACTIVITES; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            actAffichable, 
            actCreerMail, 
            actLibelle, 
            actMailService, 
            actOrdre, 
            actPere, 
            actPref, 
            actResp, 
            actSwapMessage, 
            actSwapView, 
            cStructure, 
            cartOrdre, 
            toActPere, 
            toActPref, 
            toActResp, 
            toGroupesDt, 
            tosActFils, 
            tosActResponsables, 
            tosIntervention
        ); 
        "_nameInObjectStore" = "ACTIVITES_HARP"; 
    }; 
    name = Activites; 
    primaryKeyAttributes = (actOrdre); 
    relationships = (
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Activites; 
            internalInfo = {"_nameInObjectStore" = actPereActivites; }; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actPere; }); 
            name = toActPere; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Activites; 
            internalInfo = {"_nameInObjectStore" = actPereActivites; }; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actPref; }); 
            name = toActPref; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Activites; 
            internalInfo = {"_nameInObjectStore" = actPereActivites; }; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actResp; }); 
            name = toActResp; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = GroupesDt; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = cStructure; sourceAttribute = cStructure; }); 
            name = toGroupesDt; 
        }, 
        {
            destination = VActivites; 
            internalInfo = {"_nameInObjectStore" = toVActivite; }; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actOrdre; }); 
            name = toVActivites; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = Activites; 
            internalInfo = {"_nameInObjectStore" = actPereActivitesInverseArray; }; 
            isToMany = Y; 
            joinSemantic = EOLeftOuterJoin; 
            joins = ({destinationAttribute = actPere; sourceAttribute = actOrdre; }); 
            name = tosActFils; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ActivitesResponsables; 
            internalInfo = {"_nameInObjectStore" = actPereActivites; }; 
            isToMany = Y; 
            joinSemantic = EOLeftOuterJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actResp; }); 
            name = tosActResponsables; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Intervention; 
            internalInfo = {"_nameInObjectStore" = interventionArray; }; 
            isToMany = Y; 
            joinSemantic = EOLeftOuterJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actOrdre; }); 
            name = tosIntervention; 
        }, 
        {
            destination = VActivites; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = actOrdre; sourceAttribute = actPref; }); 
            name = toVActPref; 
        }
    ); 
}
