{
    attributes = (
        {
            columnName = "PARAM_KEY"; 
            externalType = VARCHAR2; 
            name = paramKey; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            columnName = "PARAM_ORDRE"; 
            externalType = NUMBER; 
            name = paramOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PARAM_VALUE"; 
            externalType = VARCHAR2; 
            name = paramValue; 
            valueClassName = NSString; 
            valueType = S; 
            width = 180; 
        }
    ); 
    attributesUsedForLocking = (paramKey, paramOrdre, paramValue); 
    className = "org.cocktail.dt.server.metier.EOGrhumParametres"; 
    classProperties = (paramKey, paramValue); 
    externalName = "GRHUM.GRHUM_PARAMETRES"; 
    fetchSpecificationDictionary = {}; 
    name = DTGrhumParametres; 
    primaryKeyAttributes = (paramOrdre); 
}
