{
    attributes = (
        {
            columnName = "C_STRUCTURE"; 
            externalType = VARCHAR2; 
            name = cStructure; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "TGRP_CODE"; 
            externalType = VARCHAR2; 
            name = tgrpCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }
    ); 
    attributesUsedForLocking = (cStructure, tgrpCode); 
    className = "org.cocktail.dt.server.metier.EORepartTypeGroupe"; 
    classProperties = (cStructure, tgrpCode, toTypeGroupe); 
    externalName = "GRHUM.REPART_TYPE_GROUPE"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (cStructure, tgrpCode, toTypeGroupe); 
        "_nameInObjectStore" = "REPART_TYPE_GROUPE@GASPHARP"; 
    }; 
    name = RepartTypeGroupe; 
    primaryKeyAttributes = (cStructure, tgrpCode); 
    relationships = (
        {
            destination = TypeGroupe; 
            internalInfo = {"_nameInObjectStore" = typeGroupe; }; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = tgrpCode; sourceAttribute = tgrpCode; }); 
            name = toTypeGroupe; 
        }
    ); 
}
