{
    attributes = (
        {
            columnName = NEXTVAL; 
            externalType = NUMBER; 
            name = nextval; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (nextval); 
    className = "org.cocktail.fwkcktlwebapp.common.database.CktlRecord"; 
    classProperties = (nextval); 
    externalName = "SEQ_INTERVENTION_REPRO_CFC"; 
    externalQuery = "select seq_traitement.nextval nextval from dual"; 
    fetchSpecificationDictionary = {}; 
    name = SeqInterventionReproCfc; 
    primaryKeyAttributes = (nextval); 
    userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
}
