### ==================================================== ###
###   Les parametres de configuration de l'application   ###
###                 Demande de Travaux                   ###
###               WebObjects 5, Web/HTML                 ###
### ==================================================== ###


# === Les parametres utilises par le systeme d'authentification ===

#* Le URL de serveur d'authentification SAUT/ServAut. Il permet de recuperer
#* le dictionnaire de connexion a la base de donnees. Si le serveur n'est pas
#* disponible dans votre systeme, mettez ce parametre en commentaire et
#* renseignez le dictionnaire de connexion directement dans le fichier
#* DTWeb.eomodeld/index.eomodeld
SAUT_URL=http://jane.univ.fr/cgi-bin/WebObjects/SAUT.woa/wa/

#* La translation des identifiants des dictionnaires de connexion a la base de
#* donnees. Voir la configuration de serveur SAUT/ServAut, s'il est disponible.
#* Si SAUT_URL n'est pas renseigne, alors ce parametre est ignoree.
#* Format : <ID_ORIGINAL>:<ID_NOUVEAU>,<ID_ORI2>:<ID_NEW2>,...
SAUT_ID_TRANSLATION=DT:DT,ULOGIN:GRHUM

#* Indique si les mots de passe vides peuvent etre acceptes comme
#* les mots de passes valides (authentification par login uniquement).
#* A utiliser uniquement si l'authentification "local" a l'application est
#* utilisee (APP_USE_CAS=NO).
#* Valeurs autorisees : YES/NO
ACCEPT_EMPTY_PASSWORD=YES

#* Indique si l'application doit utiliser l'authentification CAS. Elle l'utilise
#* si les deux parametres APP_USE_CAS et [GRHUM_PARAMETRES.]CAS_USE_CAS sont
#* definis a YES. Sinon, le login via le panneau "local" a l'application DT
#* sera utilise.
#* Valeurs autorisees : YES/NO
APP_USE_CAS=NO

#! Les parametres de configuration du serveur CAS sont definis dans la table
#! GRHUM.GRHUM_PARAMETRES

#* La liste des adresses ou domaines qui doivent etre accedes sans passer par
#* le serveur proxy HTTP. Cette option peut etre important pour la communication
#* avec le service Web de prestations (voir les parametres plus bas).
#* Plusieurs adresses peuvent etre separees par "|" ou ",". On peut utiliser le
#* symbole "*" pour definir les adresses "like".
NET_NO_PROXY_HOSTS=*.univ.fr|mulder|mulder.univ.fr


# === Les parametres propres a l'application ===

#* L'identifiant de l'application. Il est utilise par certains serveurs et
#* services : authentification (SAUT), sauvegarde des documents (GEDFS),...
#* Le ID ne doit pas depasse 10 symboles et il doit etre
#* enregistre aupres de serveur concerne.
#* Cette valeur ne doit pas etre modifiee !
APP_ID=DT

#* Description courte de l'application. Le meme ID pouvant etre partage
#* entre plusieurs versions de l'application, cette valeur permet
#* de fournir les informations complementaires.
APP_ALIAS=DT [Web, 3.10]

#* L'adresse mail de l'administrateur de l'application. Cette adresse est
#* utilisee pour le lien sur la page d'accueil "Si vous avez un probleme..."
APP_ADMIN_MAIL=admin_dt@univ.fr

#* Le URL de site Web principale de l'etablissement
MAIN_WEB_SITE_URL=http://www.univ.fr

#* Le URL de l'image "logo" de l'etablissement. Elle est affichee sur la page
#* d'acceuil de l'application et dans la bare de menu
MAIN_LOGO_URL=http://www.univ.fr/image_partagee/ULRLogo90.gif

#* Le timezone de l'application (decalage horaire pour les heures)
DEFAULT_TIME_ZONE=Europe/Paris

#* Le URL d'acces a l'application. Cette valeur est utilisee si
#* son URL d'acces ne peux pas etre detecte automatiquement.
#* Attention ! Afin d'assurer le fonctionnement correct de l'applicatoin,
#* ce URL doit pointer directement vers l'application WebObjects (i.e.,
#* ".../cgi-bin/WebObjects/DT.woa"). Pour les raccourcis, voir le
#* parametre APP_URL_ALIAS.
#APP_URL=http://www.univ/cgi-bin/WebObjects/DT3.woa

#* Le raccourci d'acces a l'application DT Web. Si ce raccourci n'est pas
#* defini, alors le parametre APP_URL est utilise.
#* Ce parametre est utilise pour ajouter un lien dans les messages email.
APP_URL_ALIAS=http://www.univ/apps/dt/

# CE PARAMETRE EST OBSOLETE. LA PARAMETRE "APP_URL" EST UTILISE A LA PLACE.
#APP_URL_VALIDATION=http://www.univ/cgi-bin/WebObjects/DT3.woa/wa/DADemandes/valider

#* L'adresse ou les messages email seront rediriges.
#* A utiliser pour les tests uniquement !!! Si l'application est installee en
#* production, alors ce parametre doit etre commente.
#* Valeurs possibles pour l'envoi des messages email :
#*   "null" - aucun message
#*   "connected" - l'utilisateur connecte a l'application
#*   <adresse email> - l'adresse definie explicitement
#*   "default" - vrais destinataires du message (le meme comportement
#*               que lorsque le parametre est commente)
#APP_FORWARD_MAIL=default
#APP_FORWARD_MAIL=admin_dt@univ.fr
#APP_FORWARD_MAIL=connected

#* Indique le niveau de la gestion d'information sur les contacts.
#* Valeurs autorisees :
#*    0 - l'information sur le contact n'est pas obligatoire;
#*    1 - l'informations doit etre saisie seulement si la demande est creee
#*        par le demandeur lui meme. Le contact est obtionnel si la
#*        demande est creee par une tierce personne ("pour le compte de");
#*    2 - l'information sur le contact est toujours obligatoire.
APP_FORCE_CONTACTS_LEVEL=1

#* Indique s'il faut afficher les poles geographique dans l'ecran de 
#* de selection du contact (utile s'il y a beaucoup de batiments, cela
#* permet de faire un premier filtre)
#* Valeurs autorisees : YES/NO
APP_SHOW_CONTACT_POLE=YES

#* Indique le chemin absolu du repertoire ou les fichiers de l'application
#* peuvent temporairement etre enregistres. Par exemple, les fichiers attaches
#* avant leur envoi sur le serveur GEDFS.
#* Ce repertoire doit etre accessible pour la lecture/l'ecriture. Si ce
#* parametre n'est pas indique, le repertoire temporaire du systeme est utilise.
#* Il est fortemment conseille d'utiliser le symbole "/" comme separateur
#* dans le chemin du repertoire, meme sous le systeme Windows.
#APP_TEMP_DIR=D:/TempStuff/FileUploadTests
APP_TEMP_DIR=/tmp/DTTempFiles

#* L'adresse utilisee pour reinitialiser la creation des demandes de travaux
#* par email. Ce parametre est utilise seulement si le serveur SAM avec le
#* plug-in DT est disponible dans le systeme.
APP_ACT_ALIASES_MAIL=sam-admin-dt@univ-lr.fr

#* L'adresse du point d'entree de SAM pour envoyer les messages de discussion. 
#* Si SAM n'est pas installe, alors ne rien mettre dans cette variables.
APP_SAM_MESSAGES_MAIL=sam-dt@univ-lr.fr

#* Indique si la description detaillee de certaines erreurs doit etre affichee.
#* Par exemple, une description des "erreurs de l'annuaire" peut etre affichee
#* lors de la creation des demandes payantes (reprographie).
#* Ces explications peuvent etre desactives (valeur NO).
#* Valeurs autorisees : YES/NO
APP_ERROR_DESCRIPTION=YES

#* Indique si un message d'avertissement doit etre affiche si le email au
#* service destinataire ne peut pas etre envoye suite a la creation d'une
#* demande. Sinon, cette "erreur de configuration" sera passee "en silence".
#* Valeurs autorisees : YES/NO
APP_WARN_NO_MAIL_SERVICE=YES

#* Indique le format que le sujet des messages email doit avoir.
#* Si le sujet est formatte, alors il peut comporter les mots cles :
#*   ${service} - le code du service destinataire. Cette chaine sera remplace
#*                 par la valeur du champ GRHUM.STRUCTURE_ULR.LC_STRUCTURE.
#*   ${sujet}   - le sujet de la demande. Le sujet est automatiquement genere
#*                par l'application.
#* Par exemple, le format : "[DT : ${service}] ${sujet}"
#* produira le sujet : "[DT:CRI] Creation de la DT #xxxx"
#* Si la cle "${sujet}" est omise, alors le sujet sera ajoute a la fin du
#* sujet formatte.
#* Si ce parametre n'est pas defini (commente), alors le sujet par defaut seul
#* sera utilise. Par exemple : "Creation de la DT #xxxx"
APP_MAIL_SUBJECT_FORMAT=[DT / ${service}] ${sujet}


# === Les definissions de differents types des reseaux ===

#* Donne la liste des types de reseaux "administration" (de l'etablissement).
#* Ce parametre contient un ou plusieurs codes comme ils sont definis dans la
#* table GRHUM.VLANS, colonne C_VLAN.
#* Si plusieurs codes sont donnees, ils doivent etre separes par les virgules.
GRHUM_VLAN_ADMIN=P

#* Donne la liste des types de reseaux "recherche" (enseignants-chercheurs).
GRHUM_VLAN_RECHERCHE=R

#* Donne la liste des types de reseaux "etudiants".
GRHUM_VLAN_ETUD=E

#* Donne la liste des types de reseaux "locals a l'etablissement".
GRHUM_VLAN_LOCAL=P,R,E

#* Donne la liste des types de reseaux "externes a l'etablissement".
GRHUM_VLAN_EXTERNE=X

# === Les parametres relatifs aux differents services/bases de donnees  ===

#* Indique si le service GEDFS est disponible et doit etre utilise. Sans ce
#* service, le support des fichiers attaches n'est pas disponible.
#* Valeurs autorisees : YES/NO
APP_USE_GEDFS=YES

#* Indique si l'envoi des messages email est disponible dans l'application.
#* Sans ce support, aucun avertissement ne sera envoye suite a la creation
#* d'une demande ou toute autre action.
#* Valeurs autorisees : YES/NO
APP_USE_MAIL=YES

#* Indique si l'utilisateur JEFYCO est disponible. Sans ce parametre, le choix
#* des lignes budgetaires n'est pas actif pour les demandes payantes (par
#* exemple, demandes pour la reprographie).
#* Valeurs autorisees : YES/NO
APP_USE_JEFYCO=YES

#* Indique si le choix de la ligne bugetaire est obligatoir pour les demandes
#* payantes. Ce parametre est pris en compte seulement si la base JEFYCO est
#* disponible (le parametre APP_USE_JEFYCO=YES).
#* Valeurs autorisees :
#*    0 - la selection des lignes budgetaires est indisponible ;
#*    1 - la selection est optionnelle ;
#*    2 - la selection est obligatoire.
APP_FORCE_LBUD_LEVEL=1

#* Indique si le choix du code de destination est obligatoir pour les demandes.
#* Ce parametre est pris en compte seulement si la base JEFYCO est disponible
#* (le parametre APP_USE_JEFYCO=YES).
#* Valeurs autorisees :
#*    0 - la selection des destinations est indisponible ;
#*    1 - la selection est optionnelle ;
#*    2 - la selection est obligatoire.
APP_FORCE_DESTIN_LEVEL=1

#* Indique si les services Web Prestations Internes et Externes sont disponibles.
#* Il faut egalement avoir l'application Demande de Travaux Web installee dans
#* le systeme (version supperieure a 3.1.0) et definir le paramere APP_URL.
#* Ce parametre est utilise pour la gestion des demande Reprographie (payantes).
#* Valeurs autorisees : YES/NO
APP_USE_PIE=YES

#* Liste des adresses IP de machines pour lesquels la fermeture de session
#* va entrainer la deconnection du service CAS
#* Valeurs autorisees : a1.b1.c1.d1[,an.bn.cn.dn]
LISTE_IP_FORCE_SSO_LOGOUT=10.1.1.49

# ==== Les parametres relatifs aux DT ULR ===

#* pour la demande d'installation de materiel pour le CRI et STU
#* le lien vers le document expliquant la procedure
URL_PROCEDURE_SWAP_INSTALL=http://www.univ-lr.fr/actes/ged/courrier/commun/0610130923.0/procedure_install_poste_usagerV6.pdf

# ==== Les parametres relatifs aux DT Reprographie ===

#* Le URL d'acces au service Web "Prestations"
#* Attention, ce URL doit inclure le lien avec l'extention ".woa" ! Ne mettez
#* surtout pas de raccourci et d'une redirection Apache !
APP_PRESTA_WS_URL=http://serveur.univ.fr:2050/cgi-bin/WebObjects/PieWeb.woa

#* Le mot de passe d'acces au services Web Prestations
#* (Le mot de passe doit etre saisi en claire. Desole ! :)
APP_PRESTA_WS_PASS=le_password

#* Le code de l'imputation budgetaire utilise pour les prestations
#* reprographie. C'est la valeur de la colonne PCO_NUM de la vue JEFY.PLANCO.
REPRO_CODE_IMPUTATION=61841

#* Le nom de la classe Java a utilise pour implementer les regles de gestion de
#* la vue Creation > Reprograhie. La classe doit heriter de
#* fr.univlr.cri.dt.app.SwapReproDataInfo (voir les sources de l'application
#* DT Windows/Web).
#* Si le parametre n'est pas definit, l'implementation par defaut est utilsee
#* (la classe DTReproDataInfoULR)
#REPRO_DATA_INFO_CLASS=fr.univlr.cri.dt.app.DTReproDataInfoULR

#* Les parametres suivants sont utilises pour enregsitrer les prestations
#* de type reprographie. Ils sont utilises par les regles de gestion des
#* prestations implementees dans la classe DTReproDataInfoULR (extention de
#* DTReproDataInfo). Les parametres peuvent etre differents si vous utilisez une
#* extention de DTReproDataInfo.
#* Chaque parametre indique le code de l'article dans le cataloge de la
#* Reprographie. Les codes des articles peuvent être trouvés à l'aide de
#* l'applicatoin Prestations (PIE).
#* --Le code d'article : Couverture, Noir&Blanc, A4, Recto (dessus ou dessous)
REPRO_NB_COUV_A4R_COD=187
#* --Le code d'article : Couverture, Noir&Blanc, A4, Recto-Verso (dessus/dessous)
REPRO_NB_COUV_A4RV_COD=188
#* --Le code d'article : Couverture, Noir&Blanc, A3, Recto (dessus ou dessous)
REPRO_NB_COUV_A3R_COD=189
#* --Le code d'article : Couverture, Noir&Blanc, A3, Recto-Verso (dessus/dessous)
REPRO_NB_COUV_A3RV_COD=190
#* --Le code d'article : Transparent, Noir&Blanc, A4
REPRO_NB_TRANSP_A4_COD=191
#* --Le code d'article : Couverture, Couleur, A4, Recto (dessus ou dessous)
REPRO_CL_COUV_A4R_COD=196
#* --Le code d'article : Couverture, Couleur, A4, Recto-Verso (dessus/dessous)
REPRO_CL_COUV_A4RV_COD=197
#* --Le code d'article : Couverture, Couleur, A3, Recto (dessus ou dessous)
REPRO_CL_COUV_A3R_COD=198
#* --Le code d'article : Couverture, Couleur, A3, Recto-Verso (dessus/dessous)
REPRO_CL_COUV_A3RV_COD=199
#* --Le code d'article : Transparent, Couleur, A4
REPRO_CL_TRANSP_A4_COD=200
#* --Le code d'article : Plastification, A4
REPRO_PLASTIF_A4_COD=201
#* --Le code d'article : Plastification, A3
REPRO_PLASTIF_A3_COD=202
#* --Le code d'article : Reliure avec spirale
REPRO_RELIURE_COD=203
#* --Le code d'article : Reliure simple
REPRO_RELIURE_COD=204
#* --Le code de catalogue : Catalogue Reprographie
REPRO_CATALOGUE_COD=37
#* --L'identifiant UTL_ORDRE de l'utilisateur manipulant les devis (prendre le 
#* le responsable du service reprographie)
REPRO_UTL_ORDRE=1081
#* --L'identifiant CAT_ID du catalogue du service reprographie
REPRO_CAT_ID=249

# D'autres valeurs sont disponibles dans la table GRHUM.GRHUM_PARAMETRES




# ==== Les parametres relatifs au serveur de planning ===

#* Les données exportées (traitements des demandes)
#* doivent elles mentionner leur contenu ?
#* Certaines DTs sont confidentielles et ne sont pas
#* taggées comme tel dans la DT, d'ou masquage forcé dans ce cas
#* Valeurs autorisees : YES/NO
PLANNING_EXPORT_DETAILS=NO


# ==== Temporaire : la liste des logins autorises pour DTFast / onglet outils ===
DTFAST_ACCEPT_LOGIN=login1,login2,login3